html
  head
    include ./partials/head.jade
  body
    .maino
      include ./partials/header.jade
      .row
        .col-md-6.col-sm-12.col-xs-12.col-md-offset-3.row-centered
          a(href="/photo")
            img(src= "uploads/#{image}", align="middle")
