html
	include ./partials/head.jade
	body
		.maino
			include ./partials/header.jade
			.row
				.col-md-6.col-sm-12.col-xs-12.col-md-offset-3.col-centered
					form(method="post",enctype="multipart/form-data",action="/api/photo")
						.row
							input(type="file",name="userPhoto", accept="image/*",multiple="multiple").form-control.btn.btn-default.btn-file
						.row
							input(type="submit").btn.btn-primary
