html
	include ./partials/head.jade
	body
		.main
			.row
				.col-md-4.col-sm-6.col-xs-12.col-md-offset-4
					form(method="post",enctype="multipart/form-data",action="/api/photo")
						.row.btn.btn-default.btn-file
							input(type="file",name="userPhoto", accept="image/*",multiple="multiple").form-control
						.row
							input(type="submit").btn.btn-primary
